<div>
    <h3>Edit Category</h3>
    <form class="form" method="post" enctype="multipart/form-data" action="javascript:edit_category_submission({{ category.id }})">
        {{ form.csrf_token }}
        <div>
            <label for="name">Name</label>
            {{ form.name(value=category.name) }}
        </div>
        <div>
            <label for="description">Description</label>
            {{ form.description(value=category.description) }}
        </div>
        <div>
            <label for="image">Image</label>
            {{ form.image }}
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
<div>
    <a href="javascript:get_category({{ category.id }})"><button class="btn btn-primary btn-sm">Back</button></a>
</div>
