<div>
    <h3>Create Type</h3>
    <form class="form" method="post" enctype="multipart/form-data" action="javascript:new_type_submission()">
        {{ form.csrf_token }}
        <div>
            <label for="category">Category</label>
            {{ form.category }}
        </div>
        <div>
            <label for="name">Name</label>
            {{ form.name }}
        </div>
        <div>
            <label for="description">Description</label>
            {{ form.description }}
        </div>
        <div>
            <label for="image">Image</label>
            {{ form.image }}
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
<div>
    <a href="javascript:get_categories()"><button class="btn btn-primary">Back</button></a>
</div>
