<div>
    {% include "forms/flash.html" %}
    <h3>Create Animal</h3>
    <form class="form" method="post" enctype="multipart/form-data" action="javascript:new_animal_submission()">
        {{ form.csrf_token }}
        <div>
            <label for="type">Type</label>
            {{ form.type }}
        </div>
        <div>
            <label for="name">Name</label>
            {{ form.name }}
        </div>
        <div>
            <label for="sex">Sex</label>
            {{ form.sex }}
        </div>
        <div>
            <label for="date_of_birth">Date of Birth</label>
            {{ form.date_of_birth }}
        </div>
        <div>
            <label for="weight">Weight</label>
            {{ form.weight }}
        </div>
        <div>
            <label for="place_of_birth">Place of Birth</label>
            {{ form.place_of_birth }}
        </div>
        <div>
            <label for="description">Description</label>
            {{ form.description }}
        </div>
        <div>
            <label for="image">Image</label>
            {{ form.image }}
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
<div>
    <a href="javascript:get_categories()"><button class="btn btn-primary btn-sm">Back</button></a>
</div>