<div>
    {% include "forms/flash.html" %}
    <h3>Type</h3>
    <ul>
        <li>
            <span class="list-heading">Category</span>
            <span class="list-value">{{ type.category.name }}</span>
        </li>
        <li>
            <span class="list-heading">ID</span>
            <span class="list-value">{{ type.id }}</span>
        </li>
        <li>
            <span class="list-heading">Name</span>
            <span class="list-value">{{ type.name }}</span>
        </li>
        <li>
            <span class="list-heading">Description</span>
            <span class="list-value">{% if type.description %}{{ type.description }}{% else %}None{% endif %}</span>
        </li>
        <li>
            <span class="list-heading">Image</span>
            <span class="list-value">{% if type.image %}{{ type.image }}{% else %}None{% endif %}</span>
        </li>
    </ul>
    <div>
        {% if type.image %}<img src="/static/images/{{ type.image }}">{% endif %}
    </div>
    <a href="javascript:get_animals({{ type.id }})"><button class="btn btn-primary">Animals</button></a>
    <a href="javascript:edit_type({{ type.id }})"><button class="btn btn-primary">Edit</button></a>
    <a href="javascript:delete_type({{ type.id }})"><button class="btn btn-primary">Delete</button></a>
</div>
<div>
    <a href="javascript:get_types({{ type.category.id }})"><button class="btn btn-primary btn-sm">Back</button></a>
</div>