{% extends "layout.html" %}
{% block body %}
    <h3>Animals</h3>
    {% for type in types %}
        <div>
            {{ type.name }}
            <ul>
            {% for animal in type.animals %}
            <li>
                <a href="/animal/{{ animal.id }}">{{ animal.name }}</a>
            </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <div>
        <a href="/animals/create"><button class="btn btn-primary">Create</button></a>
    </div>
{% endblock %}