{% extends "layout.html" %}
{% block body %}
    <h3>Category</h3>
    <ul>
        <li>
            <span class="list-heading">ID</span>
            <span class="list-value">{{ category.id }}</span>
        </li>
        <li>
            <span class="list-heading">Name</span>
            <span class="list-value">{{ category.name }}</span>
        </li>
        <li>
            <span class="list-heading">Description</span>
            <span class="list-value">{% if category.description %}{{ category.description }}{% else %}None{% endif %}</span>
        </li>
        <li>
            <span class="list-heading">Image</span>
            <span class="list-value">{% if category.image %}{{ category.image }}{% else %}None{% endif %}</span>
        </li>
    </ul>
    <div>
        {% if category.image %}<img src="/static/images/{{ category.image }}">{% endif %}
    </div>
    <div>
        <a href="/category/{{ category.id }}/edit"><button class="btn btn-primary">Edit</button></a>
    </div>
{% endblock %}