{% extends "layout.html" %}
{% block body %}
    <h3>Edit Category</h3>
    <form class="form" method="post" enctype="multipart/form-data" action="/category/{{ category.id }}/edit">
        {{ form.csrf_token }}
        <div>
            <label for="name">Name</label>
            {{ form.name(value=category.name) }}
        </div>
        <div>
            <label for="description">Description</label>
            {{ form.description(value=category.description) }}
        </div>
        <div>
            <label for="image">Image</label>
            {{ form.image }}
        </div>
        <input type="hidden" name="_method" value="PATCH">
        <button class="btn btn-primary">Submit</button>
    </form>
{% endblock %}