<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foster an animal | Category</title>
</head>
<body>
    <form class="form" method="post" action="/category/{{ category.id }}/edit">
        {{ form.csrf_token }}
        <div>
            <label for="name">Name</label>
            {{ form.name(value=category.name) }}
        </div>
        <div>
            <label for="description">Description</label>
            {{ form.description(value=category.description) }}
        </div>
        <div>
            <label for="image">Image</label>
            {{ form.image(value=category.image) }}
        </div>
        <button>submit</button>
    </form>
    <div>
        <a href="/"><button>home</button></a>
    </div>
</body>
</html>