<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foster an animal | Category</title>
</head>
<body>
    <form method="post" action="/category/{{ category.id }}/edit">
        <div>
            <label for="id">ID</label>
            <input type="text" name="id" value="{{ category.id }}">
        </div>
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" value="{{ category.name }}">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" name="description" value="{{ category.description }}">
        </div>
        <div>
            <label for="image">Image</label>
            <input type="text" name="image" value="{{ category.image }}">
        </div>
        <button>submit</button>
    </form>
    <div>
        <a href="/"><button>home</button></a>
    </div>
</body>
</html>