<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Foster an animal | Category</title>
</head>
<body>
    <form method="post" action="/categories/create">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" name="description">
        </div>
        <div>
            <label for="image">Image</label>
            <input type="text" name="image">
        </div>
        <button>submit</button>
    </form>
    <div>
        <a href="/"><button>home</button></a>
    </div>
</body>
</html>