{% extends "layout.html" %}
{% block body %}
    <form class="form" method="post" enctype="multipart/form-data" action="/categories/create">
        {{ form.csrf_token }}
        <ul>
        <li>
            <label for="name">Name</label>
            {{ form.name }}
        </li>
        <li>
            <label for="description">Description</label>
            {{ form.description }}
        </li>
        <li>
            <label for="image">Image</label>
            {{ form.image }}
        </li>
        <button class="btn btn-primary">Submit</button>
        </ul>
    </form>
{% endblock %}