{% extends "layout.html" %}
{% block body %}
    <h3>Type</h3>
    <ul>
        <li>
            <span class="list-heading">Category</span>
            <span class="list-value">{{ type.category.name }}</span>
        </li>
        <li>
            <span class="list-heading">ID</span>
            <span class="list-value">{{ type.id }}</span>
        </li>
        <li>
            <span class="list-heading">Name</span>
            <span class="list-value">{{ type.name }}</span>
        </li>
        <li>
            <span class="list-heading">Description</span>
            <span class="list-value">{% if type.description %}{{ type.description }}{% else %}None{% endif %}</span>
        </li>
        <li>
            <span class="list-heading">Image</span>
            <span class="list-value">{% if type.image %}{{ type.image }}{% else %}None{% endif %}</span>
        </li>
    </ul>
    <div>
        {% if type.image %}<img src="/static/images/{{ type.image }}">{% endif %}
    </div>
    <div>
        <a href="/type/{{ type.id }}/edit"><button class="btn btn-primary">Edit</button></a>
    </div>
{% endblock %}