{% extends "layout.html" %}
{% block body %}
    <h3>Types</h3>
    {% for category in categories %}
        <div>
            {{ category.name }}
            <ul>
            {% for type in category.types %}
            <li>
                <a href="/type/{{ type.id }}">{{ type.name }}</a>
            </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    <div>
        <a href="/types/create"><button class="btn btn-primary">Create</button></a>
    </div>
{% endblock %}